@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@media (min-width: 1098px) {
  .hide-for-pc {
    display: none !important;
  }
}

@media (max-width: 1098px) {
  .hide-for-table {
    display: none !important;
  }
}

@media (min-width: 728px) {
  .hide-for-phone {
    display: none !important;
  }
}

@-webkit-keyframes movinginfinite {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes movinginfinite {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes movinginfinite2 {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes movinginfinite2 {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes movinginfinite3 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-40rem);
            transform: translateY(-40rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes movinginfinite3 {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-40rem);
            transform: translateY(-40rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #160D0B;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0rem 10rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

@media (max-width: 1098px) {
  .container {
    padding: 0rem 5rem;
  }
}

@media (max-width: 728px) {
  .container {
    padding: 0rem 1rem;
  }
}

.container .background {
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  opacity: 0.5;
}

.container .hero a {
  text-decoration: none;
  color: #F9F8DC;
}

.container .hero_logo {
  position: absolute;
  top: 12vh;
  right: 0;
  left: 0;
}

.container .hero_logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .hero_elements {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 5rem;
}

@media (max-width: 1098px) {
  .container .hero_elements {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1098px) {
  .container .hero_elements {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container .hero_elements_element {
  width: 100%;
  height: 8rem;
  border-radius: 1.5rem;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.container .hero_elements_element:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.container .hero_elements_element:nth-child(1) {
  background: #E0A43D;
}

.container .hero_elements_element:nth-child(2) {
  background: linear-gradient(45deg, #b531a4 0%, #fca745 100%);
}

.container .hero_elements_element:nth-child(3) {
  background: #1877f2;
}

.container .hero_elements_element:nth-child(4) {
  background: linear-gradient(45deg, #01f1eb 0%, #ff0050 100%);
}

.container .hero_elements_element_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.7rem;
}

.container .hero_elements_element_info > h1 {
  font-size: 0.9rem;
}

.container .hero_elements_element_info_arrow {
  background-color: #160D0B;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .hero_elements_element_info_arrow img {
  width: 1rem;
}
/*# sourceMappingURL=styles.css.map */